{% load static %}

<!DOCTYPE html>
<html class="" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>CoNSENsX result sheet</title>
  <meta name="description" content="COmpliance of NMR Structural
                                    ENSembles with eXperimental data" />
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900" rel="stylesheet" type="text/css">
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/involve.js' %}"></script>

  <!-- Add fancyBox -->
  <link rel="stylesheet" href="{% static 'fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen" />
  <script type="text/javascript" src="{% static 'fancybox/source/jquery.fancybox.pack.js' %}"></script>
  <link rel="stylesheet" href="{% static 'fancybox/source/helpers/jquery.fancybox-thumbs.css' %}" type="text/css" media="screen" />
  <script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-thumbs.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $(".fancybox").fancybox({
        openEffect  : "elastic",
        closeEffect : "elastic",
        openSpeed : 150,
        closeSpeed : 150,
        scrollOutside : true,
        });
    });
  </script>
  {% if SVD_calc %}
  <script type="text/javascript">
    var RDC_calc = true;
  </script>
  {% else %}
  <script type="text/javascript">
    var RDC_calc = true;
  </script>
  {% endif%}
</head>

<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CoNSEnsX<sup>+</sup></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li id="nav_info" class="active">
            <a href="{{ my_id }}">Results sheet ID: <b id="calculation_id" class="red">{{ my_id }}</b> (permalink)</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<div id="shortcodes" class="page" style="padding: 30px 0 0 0;">
  <div class="container" style="width: 1240px;">
    <table class="files_table">
      <tr>
        <td class="head-td">PDB file:</td>
        <td><i>{{ my_PDB }}</i></td>
        <td>{{ n_model }} models found</td>
      </tr>
      <tr>
        <td class="head-td">NOE restraint file:</td>
        <td><i>{{ my_NOE }}</i></td>
        <td>{{ n_NOE }}</td>
      </tr>
      <tr>
        <td class="head-td">BMRB file:</td>
        <td><i>{{ my_STR }}</i></td>
        <td></td>
      </tr>
    </table>

    <div class="container">

      <div style="margin-left: auto; margin-right: auto; width: 520px;">
        {% if bme_zf %}
        <a href="{{ MEDIA_URL }}{{ my_id }}/bme_inputs.zip" download>
        <button class="btn btn-result" id="bme_download" type="button">
        Download BME input data (ZIP)
        </button>
        </a>
        {% endif%}

        <a href="{{ MEDIA_URL }}{{ my_id }}/values.csv" download>
        <button class="btn btn-result" id="csv_download" type="button">
        Download calculated data (CSV)
        </button>
        </a>

        <button class="btn btn-result" id="selection" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Toggle selection options
        </button>

      </div>

      <div class="collapse" id="collapseExample">
        <table class="sel_controls" border="0">
          <tr class="form_param"><td>Compliance Measure: &nbsp;</td>
          <td>
          <div class="btn-group group1" data-toggle="buttons">

            <label class="btn btn-primary mes">
              <input type="radio" name="measures" class="options" value="correlation" > correlation
            </label>

            <label class="btn btn-primary mes">
              <input type="radio" name="measures" class="options" value="q-value" > Q-value
            </label>

            <label class="btn btn-primary mes">
              <input type="radio" name="measures" class="options" value="rmsd" > RMSD
            </label>

          </div>
          </td>
          <td>Min. ensemble size: &nbsp;</td>
              <td><input type="text" id="min_ens_size" value="2" name="sel_min_size"></td>

          </tr>
          <tr class="form_param"><td>Overdrive: &nbsp;</td>
              <td><input type="text" id="overdrive" name="sel_overdrive" value="5"></td>
              <td>Max. ensemble size: &nbsp;</td>
              <td><input type="text" id="max_ens_size" name="sel_max_size" value={{ n_model }}></td>
          </tr>

        </table>

        <div class=bulk_select_div>
            <div class="floating" style="paddig-top: 4px">
                <p>Bulk select:</p>
            </div>
            {% if RDC_data %}
            <div class="floating bulk" id="bulk_RDC">
                <button class="btn">
                      RDC
                </button>
            </div>
            {% endif %}
            {% if S2_data %}
            <div class="floating bulk" id="bulk_S2">
                <button class="btn">
                      order parameters
                </button>
            </div>
            {% endif %}
            {% if Jcoup_data %}
            <div class="floating bulk" id="bulk_Jcoup">
                <button class="btn">
                      J-couplings
                </button>
            </div>
            {% endif %}
            {% if chemshift_data %}
            <div class="floating bulk" id="bulk_CS">
                <button class="btn">
                      chemical shifts
                </button>
            </div>
            {% endif %}
        </div>

        <button class="btn btn-primary" id="startsel">
              Start selection
        </button>

        <div>
            <div style="display: inline-block;" class="loader hidden">
              <div class="box"></div>
              <div class="box"></div>
              <div class="box"></div>
              <div class="box"></div>
            </div>
            <div style="display: inline-block;" class="loader_text hidden">
                <h3 class="spec">Calculation in progress</h3>
                <p>You will be redirected automatically</p>
            </div>
        </div>

      </div>
    </div>

    <div class="selection-results">

    </div>

    {% if NOE_PRIDE_data %}
    <div class="results">
      <h4 class="table-source">NOE violations and PRIDE-NMR</h4>
      <table class="result_table">

          <td><table class="NOE_PRIME_table">
          <tr><td><strong>NOE distance violation</strong></td></tr>
          <tr><td>Total # of violations:</td><td>{{ NOE_PRIDE_data.NOE_violations }}</td></tr>
          </table></td>
          <td width="10"></td>
          <td>
            <a class="fancybox" title="NOE violations" href="{{ MEDIA_URL }}{{ NOE_PRIDE_data.NOE_hist }}">
              <img width="320" src="{{ MEDIA_URL }}{{ NOE_PRIDE_data.NOE_hist }}">
            </a>
          </td>

          <td width="30"></td>

          <td><table class="NOE_PRIME_table">
          <tr><td><strong>PRIDE-NMR</strong></td></tr>
          <tr><td>Model with best score:</td><td>{{ NOE_PRIDE_data.best_score }}</td></tr>
          <tr><td>Model with worst score:</td><td>{{ NOE_PRIDE_data.worst_score }}</td></tr>
          <tr><td>Average score:</td><td>{{ NOE_PRIDE_data.average_score }}</td></tr>
          <tr><td>Standard Deviation:</td><td>{{ NOE_PRIDE_data.deviation }}</td></tr>
          </table></td>
          <td width="10">{{ PRIDE_hist }}</td>
          <td>
            <a class="fancybox" title="Pride-NMR scores" href="{{ MEDIA_URL }}{{ NOE_PRIDE_data.PRIDE_hist }}">
              <img width="320" src="{{ MEDIA_URL }}{{ NOE_PRIDE_data.PRIDE_hist }}">
            </a>
          </td>

      </table>
    </div>
    {% endif %}


    {% if RDC_data %}
    {% for RDC_num, RDC_table in RDC_data.items %}
    <div class="results">
      <h4 class="table-source">RDCs (group {{ RDC_num }})</h4>

      {% for RDC in RDC_table %}
          <table class="result_table">
            <tbody>
              <tr>
              <td><table class="values_table">
              <tr><td><strong>{{ RDC.RDC_type }}</strong></td><td></td></tr>
              <tr><td>Values:</td><td>{{ RDC.RDC_model_n }}</td></tr>
              <tr><td>Correlation:</td><td>{{ RDC.correlation }}</td></tr>
              <tr><td>Q-factor:</td><td>{{ RDC.q_value }} %</td></tr>
              <tr><td>RMSD:</td><td>{{ RDC.rmsd }}</td></tr>
              </table></td>
              <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ RDC.corr_graph_name }}"><img width="270" src="{{ MEDIA_URL }}{{ RDC.corr_graph_name }}"></a></td>
              <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ RDC.graph_name }}"><img width="450" src="{{ MEDIA_URL }}{{ RDC.graph_name }}"></a></td>
              <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ RDC.mod_corr_graph_name }}"><img width="270" src="{{ MEDIA_URL }}{{ RDC.mod_corr_graph_name }}"></a></td>
              </tr>
            </tbody>
          </table>
          <div class="involve involve-result">
          <form oninput="x.value=parseInt({{ RDC.input_id }}.value)">
            <table class="selection-table">
              <tr>
                <td class="involve-table"><label>Include with weight:</label></td>
                <td class="involve-table" style="width: 48px;"><output name="x" for="{{ RDC.input_id }}">0</output></td>
                <td class="involve-table"><input type="range" class="inputrange" id="{{ RDC.input_id }}" value="0" min="0" max="10"></td>
              </tr>
            </table>
            <p class="SVDnote hidden"><strong>SVD note:</strong> all RDCs of a group will have the same weight!</p>
            <p class="QVALnote hidden"><strong>Q-value as comp. measure:</strong> only RDCs are enabled!</p>
          </form>
          </div>
      {% endfor %}

    </div>
    {% endfor %}
    {% endif %}


    {% if S2_data %}
    <div class="results">
      <h4 class="table-source">Order parameters</h4>
    {% for S2 in S2_data %}

    <table class="result_table">
      <tbody>
        <tr>
        <td><table class="values_table">
        <tr><td><strong>{{ S2.S2_type }}</strong></td><td></td></tr>
        <tr><td>Values:</td><td>{{ S2.S2_model_n }}</td></tr>
        <tr><td>Correlation:</td><td>{{ S2.correlation }}</td></tr>
        <!-- <tr><td>Q-factor:</td><td>{{ S2.q_value }} %</td></tr> -->
        <tr><td>RMSD:</td><td>{{ S2.rmsd }}</td></tr>
        </table></td>
        <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ S2.corr_graph_name }}"><img width="270" src="{{ MEDIA_URL }}{{ S2.corr_graph_name }}"></a></td>
        <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ S2.graph_name }}"><img width="450" src="{{ MEDIA_URL }}{{ S2.graph_name }}"></a></td>
        </tr>
      </tbody>
    </table>
    <div class="involve involve-result">
    <form oninput="x.value=parseInt({{ S2.input_id }}.value)">
      <table class="selection-table">
        <tr>
          <td class="involve-table"><label>Include with weight:</label></td>
          <td class="involve-table" style="width: 48px;"><output name="x" for="{{ S2.input_id }}">0</output></td>
          <td class="involve-table"><input type="range" class="inputrange" id="{{ S2.input_id }}" value="0" min="0" max="10"></td>
        </tr>
      </table>
    </form>
    </div>
    {% endfor %}
    </div>
    {% endif %}

    {% if S2_sc_data %}
    <div class="results">
      <h4 class="table-source">Order parameters - sidechain</h4>
    <table class="result_table">
      <tbody>
        <tr>
        <td><table class="values_table">
        <tr><td><strong>S<sup>2</sup> sidechain</strong></td><td></td></tr>
        <tr><td>Values:</td><td>{{ S2_sc_data.S2_model_n }}</td></tr>
        <tr><td>Correlation:</td><td>{{ S2_sc_data.correlation }}</td></tr>
        <!-- <tr><td>Q-factor:</td><td>{{ S2.q_value }} %</td></tr> -->
        <tr><td>RMSD:</td><td>{{ S2_sc_data.rmsd }}</td></tr>
        </table></td>
        <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ S2_sc_data.corr_graph_name }}"><img width="270" src="{{ MEDIA_URL }}{{ S2_sc_data.corr_graph_name }}"></a></td>
        <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ S2_sc_data.graph_name }}"><img width="450" src="{{ MEDIA_URL }}{{ S2_sc_data.graph_name }}"></a></td>
        </tr>
      </tbody>
    </table>
    </div>
    {% endif %}


    {% if Jcoup_data %}
    <div class="results">
      <h4 class="table-source">Scalar couplings</h4>
    {% for Jcoup in Jcoup_data %}

    <table class="result_table">
      <tbody>
        <tr>
        <td><table class="values_table">
        <tr><td><strong>{{ Jcoup.Jcoup_type }}</strong></td><td></td></tr>
        <tr><td>Values:</td><td>{{ Jcoup.Jcoop_model_n }}</td></tr>
        <tr><td>Correlation:</td><td>{{ Jcoup.correlation }}</td></tr>
        <!-- <tr><td>Q-factor:</td><td>{{ Jcoup.q_value }} %</td></tr> -->
        <tr><td>RMSD:</td><td>{{ Jcoup.rmsd }}</td></tr>
        </table></td>
        <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ Jcoup.corr_graph_name }}"><img width="270" src="{{ MEDIA_URL }}{{ Jcoup.corr_graph_name }}"></a></td>
        <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ Jcoup.graph_name }}"><img width="450" src="{{ MEDIA_URL }}{{ Jcoup.graph_name }}"></a></td>
        <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ Jcoup.mod_corr_graph_name }}"><img width="270" src="{{ MEDIA_URL }}{{ Jcoup.mod_corr_graph_name }}"></a></td>
        </tr>
      </tbody>
    </table>
    <div class="involve involve-result">
    <form oninput="x.value=parseInt({{ Jcoup.input_id }}.value)">
      <table class="selection-table">
        <tr>
          <td class="involve-table"><label>Include with weight:</label></td>
          <td class="involve-table" style="width: 48px;"><output name="x" for="{{ Jcoup.input_id }}">0</output></td>
          <td class="involve-table"><input type="range" class="inputrange" id="{{ Jcoup.input_id }}" value="0" min="0" max="10"></td>
        </tr>
      </table>
    </form>
    </div>
    {% endfor %}
    </div>
    {% endif %}


    {% if chemshift_data %}
    <div class="results">
      <h4 class="table-source">Chemicals shifts</h4>
    {% for CS in chemshift_data %}

    <table class="result_table">
      <tbody>
        <tr>
        <td><table class="values_table">
        <tr><td><strong>{{ CS.CS_type }}</strong></td><td></td></tr>
        <tr><td>Values:</td><td>{{ CS.CS_model_n }}</td></tr>
        <tr><td>Correlation:</td><td>{{ CS.correlation }}</td></tr>
        <!-- <tr><td>Q-factor:</td><td>{{ CS.q_value }} %</td></tr> -->
        <tr><td>RMSD:</td><td>{{ CS.rmsd }}</td></tr>
        </table></td>
        <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ CS.corr_graph_name }}"><img width="270" src="{{ MEDIA_URL }}{{ CS.corr_graph_name }}"></a></td>
        <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ CS.graph_name }}"><img width="450" src="{{ MEDIA_URL }}{{ CS.graph_name }}"></a></td>
        <td><a class="fancybox" title="coming soon" href="{{ MEDIA_URL }}{{ CS.mod_corr_graph_name }}"><img width="270" src="{{ MEDIA_URL }}{{ CS.mod_corr_graph_name }}"></a></td>
        </tr>
      </tbody>
    </table>
    <div class="involve involve-result">
    <form oninput="x.value=parseInt({{ CS.input_id }}.value)">
      <table class="selection-table">
        <tr>
          <td class="involve-table"><label>Include with weight:</label></td>
          <td class="involve-table" style="width: 48px;"><output name="x" for="{{ CS.input_id }}">0</output></td>
          <td class="involve-table"><input type="range" class="inputrange" id="{{ CS.input_id }}" value="0" min="0" max="10"></td>
        </tr>
      </table>
    </form>
    </div>
    {% endfor %}
    </div>
    {% endif %}

  </div>
</div>
</body>
</html>
