{% load staticfiles %}

<!DOCTYPE html>
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>CoNSENsX+</title>

<meta name="description" content="COmpliance of NMR Structural
                                  ENSembles with eXperimental data" />

<!-- Main Style -->
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/tooltip.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

<!--<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600|Roboto:400,600" rel="stylesheet">-->
  <link href="http://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet" type="text/css">

</head>
<body>

<div class="loader" id="pageLoader">
  <div class="loaderBackdrop"></div>
  <div class="cube">
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
    <div class="side"></div>
  </div>
  <div class="logo--abbreviation">CoNSEnsX <sup>+</sup></div>
</div>

<div class="topNavigation" id="topNavigation">
  <div class="container">
    <div class="logo--abbreviation">CoNSEnsX</div>
    <div class="logo">
      <b class="accent">Co</b>mpliance of <b class="accent">N</b>MR-derived <b class="accent">S</b>tructural <b class="accent">Ens</b>embles with e<b class="accent">x</b>perimental data + selection
    </div>
    <div class="moodChanger">
      <button id="moodChanger">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
        Night Mode OFF
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col--7">
      <h1>Setup Data for Calculation</h1>
      <div class="form">

        <form name="csx_form" id="csx_form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="block">
            <div class="inputBlock--file">
              <label class="label">Ensemble</label>
              <input type="file" id="pdb_file" name="pdb_upload" class="input--file input--file-1" data-multiple-caption="{count} files selected" multiple />
              <label for="pdb_file" class="labelForFileInput">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-plus"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="12" y1="18" x2="12" y2="12"></line><line x1="9" y1="15" x2="15" y2="15"></line></svg>
                <span>Upload PDB file</span>
              </label>
            </div>
            <button class="tooltip" data-balloon-length="large" data-balloon="Upload your ensembe in PDB format. Please use the same naming system as in your NMR-STAR file(s)!" data-balloon-pos="right">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
            </button>
          </div>

          <div class="block">
            <div class="inputBlock--file">
              <label class="label">NOE restraints</label>
              <input type="file" id="xplor_file" name="xplor_upload" class="input--file input--file-1" data-multiple-caption="{count} files selected" multiple />
              <label for="xplor_file" class="labelForFileInput"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-plus"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="12" y1="18" x2="12" y2="12"></line><line x1="9" y1="15" x2="15" y2="15"></line></svg>
                <span>Upload NMR-Star file</span></label>
            </div>
            <button class="tooltip" data-balloon-length="large" data-balloon="Upload your NMR-STAR formatted file with the NOE distance restraints. Please use the same naming system as in your PDB file." data-balloon-pos="right">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
            </button>
          </div>

          <div class="block">
            <div class="inputBlock--file">
              <label class="label">NMR parameters</label>
              <input type="file" id="bmrb_file" name="bmrb_upload" class="input--file input--file-1" data-multiple-caption="{count} files selected" multiple />
              <label for="bmrb_file" class="labelForFileInput"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-plus"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="12" y1="18" x2="12" y2="12"></line><line x1="9" y1="15" x2="15" y2="15"></line></svg>
                <span>Upload NMR-Star file</span></label>
            </div>
            <button class="tooltip" data-balloon-length="large" data-balloon="Upload your NMR-STAR formatted file with the NMR paramaters you wish to analyze. Please use the same naming system as in your PDB file." data-balloon-pos="right">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
            </button>
          </div>

          <div class="block">
            <div class="inputBlock--file">
              <label class="label">BME weights</label>
              <input type="file" id="bme_weights_file" name="bme_weights_upload" class="input--file input--file-1" data-multiple-caption="{count} files selected" multiple />
              <label for="bme_weights_file" class="labelForFileInput"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-plus"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="12" y1="18" x2="12" y2="12"></line><line x1="9" y1="15" x2="15" y2="15"></line></svg>
                <span>Upload BME weights file</span></label>
            </div>
            <button class="tooltip" data-balloon-length="large" data-balloon="Apply BME weights from a previous calculation" data-balloon-pos="right">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
            </button>
          </div>
          <div class="block">
            <div class="inputBlock--select">
              <label>Karplus equation parameter set</label>
              <div class="select">
                <select name="KARPLUS">
                  <option selected="selected" value="1">Wang &amp; Bax 1996</option>
                  <option value="2">Hu &amp; Bax 1997</option>
                  <option value="3">Habeck, Rieping &amp; Nilges 2005</option>
                </select>
              </div>
            </div>
            <button class="tooltip" data-balloon-length="large" data-balloon="Select the parameters of the Karplus equation used in scalar coupling calcuation. Consult the usage information for the exact values." data-balloon-pos="right">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
            </button>
          </div>

          <table  border="0">
            <!--                         <tr class="form_param"><td>&nbsp;</td>
                                        <td>or PDB ID: &nbsp;<input id="pdb_id" name="pdb_web" placeholder="1D3Z" type="text"></td>
                                    </tr> -->
          </table>
          <div class="block">
            <div class="inputBlock--checkbox">
              <label class="container--checkbox">
                Fit models in PDB on range 1-72 (optional)
                <input id="fit_box" name="superimpose" value="1" type="checkbox">
                <span class="checkMark"></span>
              </label>
              <input id="fit_range" name="fit_range" placeholder="1-72" type="number" class="input">
            </div>

            <button class="tooltip" data-balloon-length="large" data-balloon="Superimpose your ensemble. If a range is given, the fitting will be only applied to the given region. All models will be fitted to the first model with the RMSD minimalization method." data-balloon-pos="right">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
            </button>
          </div>
            <!-- <input name="noeviolanal" value="1" type="checkbox">  Perfom NOE violation analysis<br><br> -->

          <div class="block">
            <div class="inputBlock--checkbox">
              <label class="container--checkbox">
                Use r<sup>-3</sup> averaging between models (NOE)
                <input name="r3average" value="1" type="checkbox">
                <span class="checkMark"></span>
              </label>
            </div>
            <button class="tooltip" data-balloon-length="large" data-balloon="Use r-3 averaging on NOE distance violations instead of r-6 (default)" data-balloon-pos="right">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
            </button>
          </div>
          <div class="block">
            <div class="inputBlock--checkbox">
              <label class="container--checkbox">
                Use SVD for RDC back-calculation
                <input name="RDCSVD" value="1" type="checkbox" checked>
                <span class="checkMark"></span>
              </label>
            </div>
            <button class="tooltip" data-balloon-length="large" data-balloon="Use Singe Value Decomposition in RDC calculation. The parameter will be forwarded to Pales." data-balloon-pos="right">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
            </button>
          </div>
          <div class="block">
            <div class="inputBlock--select">
              <label>RDC LC model</label>
              <div class="select">
                <select name="RDCLC">
                  <option selected="selected" value="bic">bicelles</option>
                  <option value="pf1">Pf1 phages</option>
                </select>
              </div>
            </div>
            <button class="tooltip" data-balloon-length="large" data-balloon="Select the RDC LC model parameter for RDC alignment estimation. This parameter will be forwarded to Pales. The selection is unnecessary, of SVD is enabled." data-balloon-pos="right">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
            </button>
          </div>
          <div>
            <input id="reset_button" type="reset" value="Reset form">
            <input id="submit_button" type="submit" class="formSubmitButton" value="Start Calculation">
          </div>
        </form>
      </div>
    </div>
    <div class="col col--5">
      <div class="description">
        <h3>Server Specification</h3>

        <p class="infoText">The server is specifically designed for structural ensembles that were generated to reflect
          the internal dynamics of proteins at a given time scale. Such ensembles are typically generated by restrained
          molecular dynamics methods or selection-based approaches. CoNSEnsX+ provides an ensemble-averaged analysis of
          all experimental parameters recognized in the input and offers a simple greedy selection approach to identify
          the sub-ensemble best reflecting the parameters chosen. </p>
      </div>

      <div class="accordion">
        <div class="accordion__header">Usage</div>
        <div class="accordion__body">
          <div class="accordion__content">
            <p>
            Input a multi-model PDB file, a BMRB format NOE
            distance restraint file (optional, V2 NMR Restraints
            at the <a href="http://www.rcsb.org">Protein Data Bank</a>)
            and a BMRB restraint file to check the accuracy of
            the protein structural ensemble against experimental
            data. </p>
            <p>For a detailed description, see the
            <a href="{% static 'Descriptionpage.html' %}">description page</a>.
            For reference on accepted file formatting, please consult the
            <a href="{% static 'test_data/test_data.zip' %}" download>downloadable test data</a>.
            You can run a test calculation on the
            test data anytime with the provided test data, to check if the server is working.
            </p>
            {% comment "Remove until implemented" %}
            <div style="text-align: center;">
              <form name="csx_test" action="" method="post">
                {% csrf_token %}
                <input id="submit_test" name="submit_test" type="submit" value="Run test calculation!">
              </form>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>

      <div class="accordion">
        <div class="accordion__header">Citation</div>
        <div class="accordion__body">
          <div class="accordion__content">
            <p>When publishing results obtained with CoNSEnsX, you are kindly asked to cite the relevant references from these:</p>
            <div class="listItem">

              <div class="listItem__header">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
              </div>
              <div class="listItem__content">
                <a href="http://pubs.acs.org/doi/abs/10.1021/acs.jcim.7b00066">The CoNSEnsX<sup>+</sup> web server for the analysis of protein structural ensembles reflecting experimentally determined internal dynamics</a>
                <span>Dudola et al. (2017), J. Chem. Inf. Model.</span>
              </div>
            </div>
            <div class="listItem">
              <div class="listItem__header">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
              </div>
              <div class="listItem__content">
                <a href="http://www.biomedcentral.com/1472-6807/10/39">CoNSEnsX: an ensemble view of protein structures and NMR-derived experimental data.</a>
                <span>Ángyán et al. (2010), BMC Struct. Biol. 10:39</span>
              </div>
            </div>
            <div class="listItem">
              <div class="listItem__header">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
              </div>
              <div class="listItem__content">
                <a href="http://bioinformatics.oxfordjournals.org/content/24/2/272.long">Fast protein fold estimation from NMR-derived distance restraints</a>
                <span>Ángyán et al. (2008), Bioinformatics 24:272. (PRIDE-NMR reference)</span>
              </div>
            </div>
            <div class="listItem">
              <div class="listItem__content">
                <a disabled>Rapid and accurate calculation of protein 1H. 13C amd 15N chemical shifts.</a>
                <p>Neal et al. (2003), J. Biomol. NMR 26:215.</p>
              </div>
            </div>
            <div class="listItem">
              <div class="listItem__content">
                <a disabled>Prediction of sterically induced alignment in a dilute liquid crystalline phase: aid to protein strcuture determination by NMR</a>
                <p>Zweckstetter &amp; Bax (2000), J. Am. Chem. Soc. 122:3791</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion__header">Contact</div>
        <div class="accordion__body">
          <div class="accordion__content">
            <div class="mail">
              <p>
                If you have questions or suggestions regarding the CoNSEnsX server, please contact <a href="mailto:gaspari.zoltan@itk.ppke.hu?Subject=CoNSEnsX" target="_top">Zoltán Gáspári </a> <small>(gaspari.zoltan@itk.ppke.hu)</small>
              </p>
              <img src="{% static 'images/mail.svg' %}" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="calculationLoader isHidden" id="calculationLoader">
        <div class="cube">
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
          <div class="side"></div>
        </div>
        <div class="loader_text">
          <h3 class="spec">Calculation in progress</h3>
          <p>You will be redirected automatically</p>
        </div>
      </div>
  </div>
</div>


<!-- Our Shortcodes Section -->
<!--<div id="shortcodes" class="page" style="padding: 30px 0 0 0;">-->
    <!--<div class="container">-->

        <!--&lt;!&ndash; Start Accordion/Toggle Section &ndash;&gt;-->
        <!--<div class="row">-->


            <!--<div id="info_col" class="col-lg-6">-->


                    <!--{% if error %}-->
                    <!--<div class='errormsg'><b class='red' style='color : #E57373;'>ERROR:</b> {{ error }}</div>-->
                    <!--{% endif %}-->

                    {% if gist %}
                        {% autoescape off %}
                        {{ gist }}
                        {% endautoescape %}
                    {% endif %}

                    <!--<div style="display: inline-block;" class="loader hidden">-->
                      <!--<div class="box"></div>-->
                      <!--<div class="box"></div>-->
                      <!--<div class="box"></div>-->
                      <!--<div class="box"></div>-->
                    <!--</div>-->
                    <!--<div style="display: inline-block;" class="loader_text hidden">-->
                        <!--<h3 class="spec">Calculation in progress</h3>-->
                        <!--<p>You will be redirected automatically</p>-->
                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; End Toggle &ndash;&gt;-->
            <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash; End Accordion/Toggle Section &ndash;&gt;-->

    <!--</div>-->

</div>
<!-- End Shortcodes Section -->




<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/home.script.js' %}"></script>
<!-- End Js -->
</body>
</html>
